doctype 5
html.no-js(lang = "en")
	head
		title = title
		description = description
		block head
			block header-meta
				meta(charset = "utf-8")
				meta(http-equiv = "X-UA-Compatible", content = "IE=edge,chrome=1")
				title #{title}
				meta(name = "description", content = "#{description}")
				meta(name = "viewport", content = "width=device-width, initial-scale=1")
			block header-scripts
				script(src = "/modernizr/modernizr.js")
			block header-styles
				link(rel = "stylesheet", href = "/css/style.css")
	body(role="application")
		header(role="banner")
			block navigation
		.container.visuallyhidden.loading
			main(role = "main")
				block content
		block footer
			footer(role = "contentinfo")
				small Copyright...
		block scripts
			script(src = "/jquery/dist/jquery.min.js")
			script(src = "/scripts/main.js")